@font-face {
    font-family: 'Raisonne';
    src: url("../fonts/raisonne/@font-face/05d0872c73920fc4541caa9c7950f686.eot");
    src: url("../fonts/raisonne/@font-face/05d0872c73920fc4541caa9c7950f686.woff") format("woff"),
        url("../fonts/raisonne/@font-face/05d0872c73920fc4541caa9c7950f686.ttf") format("ttf"),
        url("../fonts/raisonne/@font-face/05d0872c73920fc4541caa9c7950f686.woff") format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about a {
    color: inherit;
}

.about a:hover {
    color: #64ffda;
}

.about p{
    font-size: 16px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #0a192f;
    color: #8892b0;
}

.contact {
    align-items: center;
    margin: 5% 0% 5%;
}

.contact-icons {
    width: 35px;
    padding: 5px;
    border: solid 1px #64ffda;
    border-radius: 3px;
}

.contact-icons:hover {
    background-color: rgba(100, 255, 218, 0.4);
}

.contact li {
    list-style: none;
    padding-right: 10px;
}

.contact li a {
    text-decoration: none;
    padding: 0 10px;
}

.contact ul {
    display: flex;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 3rem;
}

html {
    font-size: 62.5%;
    background-color: #0a192f;
}

.home-container {
    padding: 6rem;
}

h1 {
    color: #ffffffe6;
    font-family: 'Raisonne', sans-serif;
    font-size: 50px;
    letter-spacing: 0.25rem;
    line-height: 10rem;
}

h2 {
    color: #64ffda;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.resume-button {
    background-color: rgb(10, 25, 47);
    border: solid 1px #64ffda;
    border-radius: 3px;
    margin-right: 0.75rem;
    padding: 8px 8px;
}

.resume-button a {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: rgb(100, 255, 218);
}

.resume-button:hover {
    background-color: rgba(100, 255, 218, 0.4);
}

.typewriter-header {
    color: #8892b0;
    margin-top: -3rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(80, end)
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------- MEDIA QUERIES --------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

@media only screen and (max-width: 1020px) {
    .typewriter-header {
        display: none;
    }

    #comma {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    /* Display of footer and contact area */
    .contact ul {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .contact li {
        padding-top: 1rem;
    }

    footer {
        display: none;
    }

    .home-container p {
        text-align: justify;
        font-size: 16px;
    }

    .resume-button {
        display: none;
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .about {
        margin-top: 2rem;
        padding-right: 1rem;
    }

    h1 {
        padding-top: 1rem;
        font-size: 35px;
        letter-spacing: 0.25rem;
        line-height: normal;
    }

    h2 {
        font-size: 14px;
    }
}