h2{
    text-align: center;
    margin-top: 8rem;
    padding-bottom: 1rem;
    font-size: 40px;
    color: #ccd6f6;
}

/* BIOGRAPHY SECTION STYLING */
.bio-container{
    /* first value top bottom, second value left right */
    margin: 0 5rem; 
    flex-direction: row;
    display: inline-flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.profile{
    max-width: 400px;
    width: 40%;
}

.profile img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.text{
    width: 60%;
    min-width: 400px;
    text-align: center;
    padding: 2rem;
}

.resume-button{
    background-color:  rgb(10, 25, 47);
    border: solid 1px #64ffda;
    border-radius: 2px;
    padding: 6px 8px;
    margin: 2rem 0;
}

.resume-button a{
    text-decoration: none;
    color: rgb(100, 255, 218);
}


/* INTERESTS SECTION STYLING */
.interests-container{
    /* first value top bottom, second value left right */
    padding: 0 2rem; 
    flex-direction: row;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: stretch;
}

.interest-div{
    width: 25%;
    min-width: 400px;
    margin: 2rem 0.5rem;
    border: solid 3px red;
}

.title{
    text-transform: uppercase;
    color: #ccd6f6;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2px;
}