.bio-container{
    margin: 1rem 5rem 8rem;
    display: inline-flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.bio-text{
    background-color: #112240;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    width: 50%;
    min-width: 350px;
    min-height: 350px;
    margin: 1rem 1rem;
    padding: 2rem 4rem;
    border-radius: 2px;
}
.bio-text p{
    text-align: justify;
    font-size: 15px;
    margin: 10% 0;
}
.card{
    margin: 0.5rem 0;
    min-width: 350px;
    width: 30%;
    background-color: #112240;
}
.card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 2px;
}
.card .title{
    text-transform: uppercase;
    font-family: 'Raisonne', sans-serif;
    letter-spacing: 0.2rem;
    color: #64ffda;
}
.card-text{
    padding: 2rem 1rem 0;
    text-align: center;
    font-size: 14px;
}
.card-text a{
    text-decoration: none;
    color: rgba(100, 255, 219, 0.6);
}
.card-text a:hover{
    color: #e6f1ff;
}
h2{
    text-align: center;
    margin-top: 3.5rem;
    padding-bottom: 1rem;
    font-size: 40px;
    color: #ccd6f6;
    letter-spacing: 0.3rem;
    font-family: 'Raisonne', sans-serif;
}
.interests-container, .volunteer-container{
    width: 90%;
    margin: 1rem 5% 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.profile-pic{
    max-width: 400px;
    max-height: 400px;
}
.profile-pic img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.resume-button{
    background-color:  rgb(10, 25, 47);
    border: solid 1px #64ffda;
    border-radius: 3px;
    padding: 6px 8px;
    margin-bottom: 2rem;
}
.resume-button a{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: rgb(100, 255, 218);
}

@media only screen and (max-width: 1225px) and (min-width:920px){
    .card{
        width: 40%;
    }
}
@media only screen and (max-width: 920px){
    .interests-container, .volunteer-container{
        display: inline-block;
    }
    .card{
        width: 100%;
        padding-bottom: 2rem;
        margin: 1rem 0;
    }
    .card-text{
        font-size: 14px;
    }
}


