* {
    box-sizing: border-box;
}

/* HEADER STYLING: LOGO AND NAVBAR */
.logo{
    font-size: 1.5rem;
    margin: 0.5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.75rem;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    /* styling of the list elements*/
    list-style: none;
}
.navbar-links li a{ 
    /* styling of individual links (anchor tags) */
    text-decoration: none;
    color: #ccd6f6;
    padding: 1rem;
    display: block;
}
.navbar-links li a:hover{
    color:#64ffda;
}


/* BODY STYLING */
body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(10, 25, 47);
    color: lightgrey;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////// EDIT EVERYTHING AFTER THIS //////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */


h1{
    color:white;
    font-size: 80px;
    font-family: 'Yeseva One', cursive;
    letter-spacing: 0.25rem;
}
h2{
    color: rgb(100, 255, 218);
    font-size: 16px;
}
#greyheader{
    color: #807e81;
}







