/* GENERAL STYLING */

    /* WEBSITE PALETTE:
    Yellow Green Crayola [D0DB97]	
    Medium Sea Green [69B578]	
    Fern Green [3A7D44]	
    Forest Green Traditional [254D32]	
    Rich Black FOGRA 29 [181D27] */


/* TYPOGRAPHY */


/* HEADER AND MAIN NAVIGATION */


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////// EDIT EVERYTHING AFTER THIS //////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */



/* body "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
/* navbar 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace */

@font-face {
    font-family: 'Space Mono Regular' ;
    src: url('fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

/* HEADER STYLING - logo and navbar */
.navbar ul{
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: -8%;
    text-align: right;
}
li{
    list-style: none;
    padding: 1%;
    float: left;
}
.navbar a{
    font-family: 'Space Mono Regular', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    text-decoration: none;
    text-transform: lowercase;
    color:#3A7D44;
    /* trying to animate underline of links */
    /* transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; */
}

.navbar a::after{
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.navbar a:hover::after, .navbar a:focus::after{
    transform: scale(1);
}


a:hover{ /* order is link, visited, focus, hover, active */
    color: rgb(100, 255, 218);
}

/* HOME PAGE STYLING */
body{
    width: 95%;
    margin: 1em auto;
    font-family: 'Space Mono Regular', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    background-color: rgb(10, 25, 47);
    /* scroll-margin-top: 5rem; */
    color: lightgrey;
}
h1{
    color:white;
    font-size: 80px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text", sans-serif;
}
h2{
    color: rgb(100, 255, 218);
    font-size: 16px;
}
.greyheader{
    color: #807e81;
}
.home{
    margin-top: 10%;
}
.home h1, h2{
    line-height: 32px;
}




