/* WEBSITE PALETTE:
Yellow Green Crayola [D0DB97]	
Medium Sea Green [69B578]	
Fern Green [3A7D44]	
Forest Green Traditional [254D32]	
Rich Black FOGRA 29 [181D27] */


/* body "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
/* navbar 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace */

@font-face {
    font-family: 'Space Mono Regular' ;
    src: url('fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}


/* HEADER STYLING - logo and navbar */
.navbar{
    width: 100%;
    position: fixed;
    background-color: white;
}

li{
    list-style: none;
    float: right;
    padding: 1.5%;
}
.navbar a{
    font-family: 'Space Mono Regular', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    text-decoration: none;
    text-transform: lowercase;
    color:#3A7D44;
}
/* order is link, visited, focus, hover, active */
a:hover{
    color: #69B578;
    border: 1px solid rgb(100, 255, 218);
}


/* HOME PAGE STYLING */
body{
    width: 90%;
    margin: 2em auto;
    font-family: 'Space Mono Regular', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    background-color: rgb(10, 25, 47);
    /* scroll-margin-top: 5rem; */
    color: white;
}
h1{
    color:white;
    font-size: 80px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text", sans-serif;
}
h2{
    color: rgb(100, 255, 218);
    font-size: 16px;
}
.greyheader{
    color: #807e81;
}
.home{
    margin-top: 10%;
}
.home h1, h2{
    line-height: 0.5 em;
}




