* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 90%;
    margin: 5% auto;
}

.column{
    float: left;
    width: 30%;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid #64ffda;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

h3{
    color: #ffffffe6;
}
ul{
    list-style: none;
    margin-top: 4%;
}
li{
    margin-top: 2rem;
}



@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
}